<div class="col-md-6 center">
	<h2> admin/index.html.erb </h2>
</div>

<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>title</th>
			<th>description</th>
			<th>quantity</th>
			<th>price</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
			<tr>
				<td><%= product.id %></td>
				<td><%= link_to(product.title, admin_product_path(product)) %></td>
				<td><%= product.description %></td>
				<td><%= product.quantity %></td>
				<td>$ <%= product.price %></td>
				<td><%= link_to("edit", edit_admin_product_path(product)) %></td>
				<td><%= link_to("delete", admin_product_path(product), method: :delete, data: {confirm: "Are you sure?"}) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>
<%= link_to("New item", new_admin_product_path) %>
</h3>